.post-list-container {
  &__grid-view {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    justify-content: center;
    align-content: center;
  }
}

.selects-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;

  &__select {
    &-input {
      width: 200px;
      height: 40px;
      opacity: 1;
    }
  }
}

.post {
  border: 2px solid rgb(114, 101, 101);
  margin-bottom: 6px;

  &__row {
    margin: 8px 0;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-image {
      max-width: 85px;
      max-height: 85px;
    }

    &-description {
      padding: 8px;
    }
  }

  &-grid-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6px;
    cursor: pointer;

    &__title {
      height: 25px;
    }

    &__image {
      max-width: auto;
      max-height: 150px;
    }
  }
}

select {
  display: block;
}
