.post-list {
  &__grid {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-column-gap: 20px;
  }
}

.post {
  border: 1px solid red;

  &__row {
    margin: 8px 0;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-image {
      max-width: 85px;
      max-height: 85px;
    }

    &-description {
      padding: 8px;
    }
  }
}

select {
  display: block;
}
